<!-- page title area start -->
<section class="loader_sekelton page__title-area page__title-height" *ngIf="loading">
  <div class="row first_section align-items-center">
    <div class="col-xxl-12">
      <div class="container">
        <div class="page__title-wrapper description mt-110">
          <h3 class="page__title line">
          </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item line"><a></a></li>
              <li class="breadcrumb-item line active" aria-current="page">
                <a>
                </a>
              </li>

            </ol>
          </nav>
        </div>

      </div>
    </div>
  </div>

  <div class="row second_section py-4">
    <section class="skeleton course__area pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-xl-6 col-lg-6 mb-4 wow animate__animated" >
                <div class="blog__item blog__large white-bg mb-30 transition-3 fix">
                  <div class="blog__thumb w-img fix">
                    <a >
                      <div class="square" style="height: 200px;"></div>
                      <div class="blog__thumb--layer"></div>
                    </a>
                  </div>
                  <div class="blog__content blog__large--content">

                    <h3 class="page__title-3 line" style="height: 10px;"><a>

                    </a></h3>

                    <div class="blog__meta d-flex align-items-center">
                      <div class="blog__author d-flex align-items-center" >

                        <div class="blog__author-info">
                          <i class="fas fa-eye"></i>
                          <span> {{100}} </span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 mb-4 wow  animate__animated" [ngClass]="currentLanguage === 'ar' ? 'animate__fadeInLeft' : 'animate__fadeInRight' ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="blog__item white-bg mb-30 transition-3 fix">
                      <div class="blog__thumb w-img fix">
                        <a >
                          <div class="square" style="height: 200px;"></div>
                        </a>
                      </div>
                      <div class="blog__content">

                        <h5 class="page__title-3 line" style="height: 30px; width: 75%;"></h5>

                        <div class="blog__meta">
                          <div class="blog__author mr-3 d-flex align-items-center">


                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="blog__item white-bg mb-30 transition-3 fix">
                      <div class="blog__thumb w-img fix">
                        <a >
                          <div class="square" style="height: 200px;"></div>
                        </a>
                      </div>
                      <div class="blog__content">

                        <h5 class="page__title-3 line" style="height: 30px; width: 75%;"></h5>

                        <div class="blog__meta">
                          <div class="blog__author mr-3 d-flex align-items-center">


                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="blog__item white-bg mb-30 transition-3 fix">
                      <div class="blog__thumb w-img fix">
                        <a >
                          <div class="square" style="height: 200px;"></div>
                        </a>
                      </div>
                      <div class="blog__content">

                        <h5 class="page__title-3 line" style="height: 30px; width: 75%;"></h5>

                        <div class="blog__meta">
                          <div class="blog__author mr-3 d-flex align-items-center">


                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="blog__item white-bg mb-30 transition-3 fix">
                      <div class="blog__thumb w-img fix">
                        <a >
                          <div class="square" style="height: 200px;"></div>
                        </a>
                      </div>
                      <div class="blog__content">

                        <h5 class="page__title-3 line" style="height: 30px; width: 75%;"></h5>

                        <div class="blog__meta">
                          <div class="blog__author mr-3 d-flex align-items-center">


                          </div>

                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="course__sidebar p-relative">
              <div class="course__shape">
                <img class="course-dot" src="assets/theme/img/course/course-dot.png" alt="">
              </div>
              <div class="course__sidebar-widget-2 mb-20">
                <div class="course__logo">
                  <div class="course__logo-thumb university__page--img w-img mb-25">
                    <div class="square" style="height: 200px;"></div>

                  </div>



                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</section>
<!-- page title area end -->
<!-- page title area start -->
<section class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
  style="background-image: url('assets/theme/img/about/Header.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="page__title-wrapper mt-110">
          <h3 class="page__title">{{currentLanguage === 'ar' ? 'مقالات' : 'Blogs' }}</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">{{"breadcrumb_home" | translate}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{currentLanguage === 'ar' ? 'مقالات' : 'Blogs' }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page title area end -->


<!-- blog area start -->
<section class="blog__area pt-115 pb-130 mb--120"
  style="background-image: url(' assets/theme/img/main_images/blogs_cover.png');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section__title-wrapper text-center mb-60">
          <h2 class="section__title">{{"latest_blogs" | translate}}
          </h2>
        </div>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col-xl-6 col-lg-6 mb-4 wow animate__animated"
        [ngClass]="currentLanguage === 'ar' ? 'animate__fadeInRight' : 'animate__fadeInLeft' ">
        <div class="blog__item blog__large white-bg mb-30 transition-3 fix">
          <div class="blog__thumb w-img fix">
            <a routerLink="/blog/1">
              <img src="assets/theme/img/main_images/main_blog.png" class="w-100" alt="">
              <div class="blog__thumb--layer"></div>
            </a>
          </div>
          <div class="blog__content blog__large--content">

            <h3 class="blog__title"
              [title]="currentLanguage === 'ar' ? 'مصر تحتل الصدارة في استقبال الطلاب الوافدين من الدول العربية' : 'Egypt takes the lead in receiving international students from Arab countries'">
              <a routerLink="/blog/1">
                {{currentLanguage === 'ar' ? 'مصر تحتل الصدارة في استقبال الطلاب الوافدين من الدول العربية' : 'Egypt takes the lead in receiving international students from Arab countries'}}
              </a></h3>

            <div class="blog__meta d-flex align-items-center">
              <div class="blog__author d-flex align-items-center">

                <div class="blog__author-info">
                  <i class="fas fa-eye"></i>
                  <span> {{100}} </span>
                </div>
              </div>
              <div class="blog__date d-flex align-items-center"
                [ngStyle]="{ 'margin' :currentLanguage === 'ar' ?  '0 7px 0 0' : '0 0 0 7px '}">
                <i class="fal ml-2 fa-clock"></i>
                <span
                  *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                <span
                  *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 mb-4 wow  animate__animated"
        [ngClass]="currentLanguage === 'ar' ? 'animate__fadeInLeft' : 'animate__fadeInRight' ">
        <div class="row">
          <div class="col-md-6">
            <div class="blog__item white-bg mb-30 transition-3 fix">
              <div class="blog__thumb w-img fix">
                <a>
                  <img src="assets/theme/img/main_images/blog1.png" class="w-100" alt="">
                </a>
              </div>
              <div class="blog__content">

                <h3 class="blog__title"><a routerLink="/blog/2"
                    [title]="currentLanguage === 'ar' ? '4 أسباب تجعلك تبدأ رحلتك الدراسية بالخارج' : '4 reasons to start your studying abroad journey'">
                    {{currentLanguage === 'ar' ? '4 أسباب تجعلك تبدأ رحلتك الدراسية بالخارج' : '4 reasons to start your studying abroad journey'}}
                  </a>
                </h3>

                <div class="blog__meta">
                  <div class="blog__author mr-3 d-flex align-items-center">

                    <div class="blog__author-info">
                      <i class="fas fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                      <span> {{1000}} </span>
                    </div>
                  </div>
                  <div class="blog__date d-flex align-items-center">
                    <i class="fal ml-2 fa-clock"></i>
                    <span
                      *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                    <span
                      *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="blog__item white-bg mb-30 transition-3 fix">
              <div class="blog__thumb w-img fix">
                <a>
                  <img src="assets/theme/img/main_images/blog2.png" class="w-100" alt="">
                </a>
              </div>
              <div class="blog__content">

                <h3 class="blog__title"
                  [title]="currentLanguage === 'ar' ? 'كيف تحصل على شهادة جامعة بإجراءات بسيطة' : 'How to get a university degree with simple procedures'">
                  <a routerLink="/blog/3">
                    {{currentLanguage === 'ar' ? 'كيف تحصل على شهادة جامعة بإجراءات بسيطة' : 'How to get a university degree with simple procedures'}}
                  </a>
                </h3>

                <div class="blog__meta">
                  <div class="blog__author mr-3 d-flex align-items-center">

                    <div class="blog__author-info">
                      <i class="fas  fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                      <span> 10 </span>
                    </div>
                  </div>
                  <div class="blog__date d-flex align-items-center">
                    <i class="fal ml-2 fa-clock"></i>
                    <span
                      *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                    <span
                      *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="blog__item white-bg transition-3 fix">
              <div class="blog__thumb w-img fix">
                <a>
                  <img src="assets/theme/img/main_images/blog3.png" class="w-100" alt="">
                </a>
              </div>
              <div class="blog__content">

                <h3 class="blog__title"
                  [title]="currentLanguage === 'ar' ? 'تعرف على أحدث تصنيف الجامعات عالميًا ' : 'Find out the latest university rankings in the world '">
                  <a routerLink="/blog/4">
                    {{currentLanguage === 'ar' ? 'تعرف على أحدث تصنيف الجامعات عالميًا ' : 'Find out the latest university rankings in the world '}}
                  </a>
                </h3>

                <div class="blog__meta">
                  <div class="blog__author mr-3 d-flex align-items-center">

                    <div class="blog__author-info">
                      <i class="fas  fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                      <span> 10 </span>
                    </div>
                  </div>
                  <div class="blog__date d-flex align-items-center">
                    <i class="fal ml-2 fa-clock"></i>
                    <span
                      *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                    <span
                      *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="blog__item white-bg transition-3 fix">
              <div class="blog__thumb w-img fix">
                <a>
                  <img src="assets/theme/img/main_images/blog4.png" class="w-100" alt="">
                </a>
              </div>
              <div class="blog__content">

                <h3 class="blog__title"
                  [title]="currentLanguage === 'ar' ? 'إجراءات الالتحاق بالجامعات في السودان تشهد تسهيلات غير مسبوقة' : 'Sudanese universities are witnessing unprecedented facilitation'">
                  <a routerLink="/blog/5">
                    {{currentLanguage === 'ar' ? 'إجراءات الالتحاق بالجامعات في السودان تشهد تسهيلات غير مسبوقة' : 'Sudanese universities are witnessing unprecedented facilitation'}}
                  </a>
                </h3>

                <div class="blog__meta">
                  <div class="blog__author mr-3 d-flex align-items-center">

                    <div class="blog__author-info">
                      <i class="fas  fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                      <span> {{100}} </span>
                    </div>
                  </div>
                  <div class="blog__date d-flex align-items-center">
                    <i class="fal ml-2 fa-clock"></i>
                    <span
                      *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                    <span
                      *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="blog__item white-bg mb-30 transition-3 fix">
          <div class="blog__thumb w-img fix">
            <a>
              <img src="assets/theme/img/main_images/blog1.png" class="w-100" alt="">
            </a>
          </div>
          <div class="blog__content">

            <h3 class="blog__title"><a routerLink="/blog/6"
                [title]="currentLanguage === 'ar' ? '4 أسباب تجعلك تبدأ رحلتك الدراسية بالخارج' : '4 reasons to start your studying abroad journey'">
                {{currentLanguage === 'ar' ? '4 أسباب تجعلك تبدأ رحلتك الدراسية بالخارج' : '4 reasons to start your studying abroad journey'}}
              </a>
            </h3>

            <div class="blog__meta">
              <div class="blog__author mr-3 d-flex align-items-center">

                <div class="blog__author-info">
                  <i class="fas fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                  <span> {{1000}} </span>
                </div>
              </div>
              <div class="blog__date d-flex align-items-center">
                <i class="fal ml-2 fa-clock"></i>
                <span
                  *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                <span
                  *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="blog__item white-bg mb-30 transition-3 fix">
          <div class="blog__thumb w-img fix">
            <a>
              <img src="assets/theme/img/main_images/blog2.png" class="w-100" alt="">
            </a>
          </div>
          <div class="blog__content">

            <h3 class="blog__title"
              [title]="currentLanguage === 'ar' ? 'كيف تحصل على شهادة جامعة بإجراءات بسيطة' : 'How to get a university degree with simple procedures'">
              <a routerLink="/blog/7">
                {{currentLanguage === 'ar' ? 'كيف تحصل على شهادة جامعة بإجراءات بسيطة' : 'How to get a university degree with simple procedures'}}
              </a>
            </h3>

            <div class="blog__meta">
              <div class="blog__author mr-3 d-flex align-items-center">

                <div class="blog__author-info">
                  <i class="fas  fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                  <span> 10 </span>
                </div>
              </div>
              <div class="blog__date d-flex align-items-center">
                <i class="fal ml-2 fa-clock"></i>
                <span
                  *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                <span
                  *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="blog__item white-bg transition-3 fix">
          <div class="blog__thumb w-img fix">
            <a>
              <img src="assets/theme/img/main_images/blog3.png" class="w-100" alt="">
            </a>
          </div>
          <div class="blog__content">

            <h3 class="blog__title"
              [title]="currentLanguage === 'ar' ? 'تعرف على أحدث تصنيف الجامعات عالميًا ' : 'Find out the latest university rankings in the world '">
              <a routerLink="/blog/8">
                {{currentLanguage === 'ar' ? 'تعرف على أحدث تصنيف الجامعات عالميًا ' : 'Find out the latest university rankings in the world '}}
              </a>
            </h3>

            <div class="blog__meta">
              <div class="blog__author mr-3 d-flex align-items-center">

                <div class="blog__author-info">
                  <i class="fas  fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                  <span> 10 </span>
                </div>
              </div>
              <div class="blog__date d-flex align-items-center">
                <i class="fal ml-2 fa-clock"></i>
                <span
                  *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                <span
                  *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="blog__item white-bg transition-3 fix">
          <div class="blog__thumb w-img fix">
            <a>
              <img src="assets/theme/img/main_images/blog4.png" class="w-100" alt="">
            </a>
          </div>
          <div class="blog__content">

            <h3 class="blog__title"
              [title]="currentLanguage === 'ar' ? 'إجراءات الالتحاق بالجامعات في السودان تشهد تسهيلات غير مسبوقة' : 'Sudanese universities are witnessing unprecedented facilitation'">
              <a routerLink="/blog/9">
                {{currentLanguage === 'ar' ? 'إجراءات الالتحاق بالجامعات في السودان تشهد تسهيلات غير مسبوقة' : 'Sudanese universities are witnessing unprecedented facilitation'}}
              </a>
            </h3>

            <div class="blog__meta">
              <div class="blog__author mr-3 d-flex align-items-center">

                <div class="blog__author-info">
                  <i class="fas  fa-eye" [ngClass]="currentLanguage === 'ar' ? 'ml-2' : 'mr-2' "></i>
                  <span> {{100}} </span>
                </div>
              </div>
              <div class="blog__date d-flex align-items-center">
                <i class="fal ml-2 fa-clock"></i>
                <span
                  *ngIf="currentLanguage === 'ar'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</span>
                <span
                  *ngIf="currentLanguage === 'en'">{{'2021-05-05 12:33:31'| date:'EEEE  d MMMM  y, h:mm a':undefined:'en'}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- blog area end -->
