<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-loader *ngIf="loading"></app-loader>
<!-- page title area start -->
<section class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
  style="background-image: url('assets/theme/img/page-title/page-title-2.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="page__title-wrapper mt-110">
          <h3 class="page__title">
            {{ "login" | translate }}
          </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">{{'breadcrumb_home' | translate}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{"login" | translate }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page title area end -->
<!-- sign up area start -->
<section class="signup__area po-rel-z1 p-relative pt-100 pb-145">
  <div class="sign__shape">
    <img class="man-1" src="assets/theme/img/icon/sign/man-1.png" alt="">
    <img class="man-2" src="assets/theme/img/icon/sign/man-2.png" alt="">
    <img class="circle" src="assets/theme/img/icon/sign/circle.png" alt="">
    <img class="zigzag" src="assets/theme/img/icon/sign/zigzag.png" alt="">
    <img class="dot" src="assets/theme/img/icon/sign/dot.png" alt="">
    <img class="bg" src="assets/theme/img/icon/sign/sign-up.png" alt="">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-8 col-xl-8 ">
        <div class="section__title-wrapper text-center mb-55">
          <h2 class="section__title">{{"login_title" | translate}}</h2>
          <p>{{"login_text" | translate}} <a routerLink="/register"
              class="text_main boldness_font">{{ "login_button" | translate}}</a></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xxl-6 col-xl-6 col-lg-8">

        <div class="sign__wrapper white-bg">

          <div class="sign__form">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
              <div class="sign__input-wrapper mb-25">
                <h5>{{"form_email" | translate}}</h5>
                <div class="sign__input--container">
                  <div class="sign__input">
                    <input formControlName="email" name="email" type="text">
                    <i class="fal fa-envelope"></i>
                  </div>
                  <ng-container
                    *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors != null">

                    <button *ngIf="loginForm.controls['email'].errors['required']" type="button"
                      [popover]="currentLanguage === 'ar' ? 'البريد الألكتروني مطلوب' : 'Email is required'" [placement]="currentLanguage === 'ar' ? 'left' : 'right'"
                      class="btn-danger validation"
                      triggers="mouseenter:mouseleave"
                      ><i class="fa fa-exclamation"></i></button>
                    <button *ngIf="loginForm.controls['email'].errors['email']" type="button"
                      [popover]="currentLanguage === 'ar' ? 'البريد الألكتروني غير صحيح' : 'Email is invalid'" [placement]="currentLanguage === 'ar' ? 'left' : 'right'"
                      class="btn-danger validation" triggers="mouseenter:mouseleave"
                      ><i class="fa fa-exclamation"></i></button>

                  </ng-container>
                </div>
              </div>
              <div class="sign__input-wrapper mb-10">
                <h5>{{"form_password" | translate}}</h5>
                <div class="sign__input--container">
                  <div class="sign__input">
                    <input formControlName="password" name="password" type="password">
                    <i class="fal fa-lock"></i>
                  </div>
                  <button
                    *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors != null"
                    type="button" [popover]="currentLanguage === 'ar' ? 'كلمة السر غير صحيحة' : 'password is required'"
                    [placement]="currentLanguage === 'ar' ? 'left' : 'right'" [outsideClick]="true"
                    class="btn-danger validation"
                    triggers="mouseenter:mouseleave"
                    ><i class="fa fa-exclamation"></i></button>
                </div>
              </div>

              <button class="e-btn  w-100" [disabled]="loginForm.invalid"> <span>
                  {{currentLanguage === 'ar' ? 'تسجيل دخول' : 'Login' }}
                </span> </button>
              <div class="sign__new text-center mt-20">
                <p *ngIf="currentLanguage ==='ar'">جديد في إايجيك؟ <a routerLink="/register" class="text_main boldness_font mx-2">إنشاء حساب</a></p>
                <p *ngIf="currentLanguage ==='en'">New to egec?<a routerLink="/register" class="text_main boldness_font mx-2">Register</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- sign up area end -->
