<app-loader *ngIf="loading"></app-loader>

  <!-- page title area start -->
  <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image: url('assets/theme/img/about/Header.jpg');">

    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="page__title-wrapper mt-110">
            <h3 class="page__title">
              {{ currentLanguage === 'ar' ? destinationDetail?.ar_name : destinationDetail?.en_name }}
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">{{'breadcrumb_home' | translate}}</a></li>
                <li  class="breadcrumb-item" aria-current="page">
                  <a routerLink="/destinations">
                    {{"destination" | translate }}
                  </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{ currentLanguage === 'ar' ? destinationDetail?.ar_name : destinationDetail?.en_name }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- course area start -->
  <section class="course__area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-9 col-lg-9">

          <div class="row">
            <ng-container *ngIf="(universities | searchUniversity: term) as universities">

            <div class="col-md-6 wow animate__animated animate__slideInUp" *ngFor="let university of universities">
              <div class="course__item white-bg mb-30 fix">
                <div class="row gx-0 align-items-center">
                  <div class="col-3">
                    <div class="course__thumb course__thumb-list w-img p-relative fix text-center">
                      <a >
                        <img [src]="universityImage+university.logo" alt="">
                      </a>

                    </div>
                  </div>
                  <div class="col-9">
                    <div class="course__right">
                      <div class="course__content course__content-4">

                        <h3 class="course__title">
                          <a >
                            {{currentLanguage === 'ar' ? university.ar_name : university.en_name}}
                          </a>
                        </h3>

                      </div>
                      <div
                        class="course__more  d-flex justify-content-between align-items-center">

                        <div class="course__btn">
                          <a [routerLink]="['/university' , currentLanguage === 'ar' ? destinationDetail?.ar_slug :  destinationDetail?.en_slug , currentLanguage === 'ar' ? university.ar_slug :university.en_slug]" class="link-btn">
                            {{"know_more_university" | translate}}
                            <i class="far" [ngClass]="currentLanguage === 'ar' ? 'fa-arrow-left' : 'fa-arrow-right'"></i>
                            <i class="far" [ngClass]="currentLanguage === 'ar' ? 'fa-arrow-left' : 'fa-arrow-right'"></i>
                        </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h4 *ngIf="universities.length === 0">{{ currentLanguage === 'ar' ? 'لا يوجد جامعات' : 'No universities found' }}</h4>
          </ng-container>
          </div>

        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3">
          <div class="course__sidebar">
            <div class="course__sidebar-search mb-50">
                <input type="text"[(ngModel)]="term" [placeholder]="currentLanguage === 'ar' ? 'أبحث في الجامعات' : 'Search for universities...'">

            </div>

            <div class="course__sidebar-widget grey-bg">
              <div class="course__sidebar-course">
                <h3 class="course__sidebar-title">{{"related_section" | translate }}</h3>
                <ul>
                  <ng-container *ngIf="destinations.length > 1; else destinationEmpty">
                    <li *ngFor="let destination of destinations">
                      <a [routerLink]="['/destination', destination.id]">

                        <div class="course__sm d-flex align-items-center mb-30">
                          <div class="course__sm-thumb" [ngClass]="currentLanguage == 'ar' ? 'ml-20' : 'mr-20'">
                            <img [src]="destinationImage+destination.flag" alt="">
                        </div>
                        <div class="course__sm-content">

                          <h5>{{currentLanguage === 'ar' ?  destination.ar_name : destination.en_name}}</h5>

                        </div>
                        </div>
                      </a>
                    </li>

                  </ng-container>

                  <ng-template #destinationEmpty>
                    <li>
                      {{currentLanguage === 'ar' ? 'لا يوحد بلاد أخري حاليا' : 'No other destinations currently'}}
                    </li>
                  </ng-template>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- course area end -->
