<app-loader *ngIf="loading"></app-loader>
  <!-- page title area start -->
  <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image: url('assets/theme/img/about/Header.jpg');">

    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="page__title-wrapper mt-110">
            <h3 class="page__title">
              {{"faculty" | translate }}
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">{{'breadcrumb_home' | translate}}</a></li>
                <li  class="breadcrumb-item active" aria-current="page">
                  <a >
                    {{"faculty" | translate }}
                  </a>
                </li>

              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- course area start -->
  <section class="course__area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-9 col-lg-9">

          <div class="row">
            <ng-container *ngIf="(faculties | searchUniversity: term) as faculties">

              <div class="col-lg-6" *ngFor="let faculty of faculties.slice().reverse()">
                <div class="course__item white-bg mb-30 fix">

                  <div class="course__right">
                    <div class="course__content course__content-4">

                      <h3 class="course__title">
                        <a>
                          {{currentLanguage === 'ar' ? faculty.ar_name : faculty.en_name}}
                        </a>
                      </h3>

                    </div>
                    <div
                      class="course__more course__more-2 course__more-3 d-flex justify-content-between align-items-center">

                      <div class="course__btn">
                        <a [routerLink]="['/studyByFacultyUniversity', specialId , faculty.id ]" *ngIf="currentLanguage === 'ar'" class="link-btn">
                          <i class="far fa-arrow-left"></i>
                          <i class="far fa-arrow-left"></i>
                          {{"know_more_destinations" | translate}}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <h4 *ngIf="faculties.length === 0">{{ currentLanguage === 'ar' ? 'لا يوجد كليات' : 'No faculties found' }}</h4>
            </ng-container>
          </div>

        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3">
          <div class="course__sidebar">
            <div class="course__sidebar-search mb-50">
                <input type="text" [(ngModel)]="term" [placeholder]="currentLanguage === 'ar' ? 'أبحث في كليات' : 'Search for faculties...'">

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- course area end -->
