<app-loader *ngIf="loading"></app-loader>
  <!-- page title area start -->
  <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image: url('assets/theme/img/about/Header.jpg');">

    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="page__title-wrapper mt-110">
            <h3 class="page__title">
              <ng-container *ngIf="specialId == 1">
                {{ "specialization_area_text_4" | translate }}
              </ng-container>
              <ng-container *ngIf="specialId == 3">
                {{ "specialization_area_text_6" | translate }}
              </ng-container>
              <ng-container *ngIf="specialId == 8">
                {{ "specialization_area_text_5" | translate }}
              </ng-container>
              <ng-container *ngIf="specialId == 2">
                {{ "specialization_area_text_3" | translate }}
              </ng-container>
              <ng-container *ngIf="specialId == 7">
                {{ "specialization_area_text_2" | translate }}
              </ng-container>
              <ng-container *ngIf="specialId == 4">
                {{ "specialization_area_text_1" | translate }}
              </ng-container>
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">{{'breadcrumb_home' | translate}}</a></li>
                <li  class="breadcrumb-item active" aria-current="page">
                  <a >
                    <ng-container *ngIf="specialId == 1">
                      {{ "specialization_area_text_4" | translate }}
                    </ng-container>
                    <ng-container *ngIf="specialId == 3">
                      {{ "specialization_area_text_6" | translate }}
                    </ng-container>
                    <ng-container *ngIf="specialId == 8">
                      {{ "specialization_area_text_5" | translate }}
                    </ng-container>
                    <ng-container *ngIf="specialId == 2">
                      {{ "specialization_area_text_3" | translate }}
                    </ng-container>
                    <ng-container *ngIf="specialId == 7">
                      {{ "specialization_area_text_2" | translate }}
                    </ng-container>
                    <ng-container *ngIf="specialId == 4">
                      {{ "specialization_area_text_1" | translate }}
                    </ng-container>
                  </a>
                </li>

              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- course area start -->
  <section class="course__area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-9 col-lg-9">

          <div class="row">
            <ng-container *ngIf="(faculties | searchUniversity: term) as faculties">

              <div class="col-lg-6" *ngFor="let faculty of faculties.slice().reverse()">
                <div class="course__item white-bg mb-30 fix">

                  <div class="course__right">
                    <div class="course__content course__content-4">

                      <h3 class="course__title">
                        <a>
                          {{currentLanguage === 'ar' ? faculty.ar_name : faculty.en_name}}
                        </a>
                      </h3>

                    </div>
                    <div
                      class="course__more d-flex justify-content-between align-items-center">

                      <div class="course__btn">
                        <a [routerLink]="['/studyByFacultyUniversity', specialId , faculty.id ]"  class="link-btn">
                          {{currentLanguage === 'ar' ? 'تصفح الكليات' : 'Explore faculties'}}
                          <i class="far" [ngClass]="currentLanguage === 'ar' ? 'fa-arrow-left' : 'fa-arrow-right'"></i>
                          <i class="far" [ngClass]="currentLanguage === 'ar' ? 'fa-arrow-left' : 'fa-arrow-right'"></i>
                        </a> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <h4 *ngIf="faculties.length === 0">{{ currentLanguage === 'ar' ? 'لا يوجد كليات' : 'No faculties found' }}</h4>
            </ng-container>
          </div>

        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3">
          <div class="course__sidebar">
            <div class="course__sidebar-search mb-50">
                <input type="text" [(ngModel)]="term" [placeholder]="currentLanguage === 'ar' ? 'أبحث في كليات' : 'Search for faculties...'">

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- course area end -->
