<!-- hero area start -->
<section class="loader_sekelton hero__area hero__height hero__height-2 d-flex align-items-center white-bg-3 fix">

  <div class="container">
    <div class="hero__content-wrapper mt-90">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6 wow animate__slideInRight ">
          <div class="hero__thumb-wrapper position-relative mb--120">
            <div class="hero__thumb-2 scene">
              <div class="loader_sekelton--img"></div>

              <div class="hero__promotion d-flex white-bg layer" data-depth="0.1">

                <div class="hero__promotion-text">
                </div>
              </div>
              <div class="hero__promotion education d-none d-lg-flex white-bg layer" data-depth="0.2">

                <div class="hero__promotion-text">

                </div>
              </div>
              <div class="hero__class d-none d-lg-flex layer" data-depth="0.3">

                <div class="hero__class-text">
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="col-lg-5 col-md-6 wow animate__animated animate__slideInLeft p-relative ">
          <div class="hero__content hero__content-2 description z-index-1">
            <h3 class="hero__title hero__title-2 line">


            </h3>
            <h4 class="line">
            </h4>
            <p class="line">
            </p>

          </div>
          <!-- <div class="hero__shape">
            <img class="hero-1-circle" src="assets/theme/img/icon/book.png" alt="">
            <img class="hero-1-circle-2" src="assets/theme/img/icon/pencil.png" alt="">
            <img class="hero-1-dot-2" src="assets/theme/img/icon/cap.png" alt="">
          </div> -->
        </div>

      </div>
    </div>
  </div>
</section>
<!-- hero area end -->
