  <!-- page title area start -->
  <section class="loader_sekelton page__title-area page__title-height">
    <div class="row first_section align-items-center">
      <div class="col-xxl-12">
        <div class="container">
          <div class="page__title-wrapper description mt-110">
            <h3 class="page__title line">
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item line"><a routerLink="contact-us"></a></li>
                <li class="breadcrumb-item line active" aria-current="page">
                  <a routerLink="/destinations">
                  </a>
                </li>

              </ol>
            </nav>
          </div>

        </div>
      </div>
    </div>

    <div class="row second_section py-4">
      <!-- <div class="col-lg-4">
        <div class="container">
          <div class="skeleton">
            <div class="skeleton-left">
              <div class="line h17 w40 m10"></div>
              <div class="line"></div>
              <div class="line h8 w50"></div>
              <div class="line  w75"></div>
            </div>
            <div class="skeleton-right">
              <div class="square circle"></div>
            </div>

          </div>

        </div>
      </div> -->
      <section class="skeleton course__area pt-120 pb-120">
        <div class="container">
          <div class="row">
            <div class="col-xxl-9 col-xl-9 col-lg-9">
              <div class="course__wrapper">
                <div class="page__title-content mb-25">

                    <h5 class="page__title-3 line" style="height: 50px; width: 75%;"></h5>
                </div>
                <!-- <div class="course__meta-2 d-sm-flex mb-30">
                    <div class="course__teacher-3 d-flex align-items-center">
                      <div class="course__teacher-thumb-3" [ngClass]="currentLanguage === 'ar' ? 'ml-15' : 'mr-15' ">
                          <img [src]="destinationImage+destinationDetail?.flag" alt="">
                      </div>
                      <div class="course__teacher-info-3">
                          <h5>{{currentLanguage === 'ar' ? destinationDetail?.ar_name : destinationDetail?.en_name }}</h5>
                      </div>
                    </div>

                </div> -->
                <!-- <div class="course__img w-img">
                    <img src="assets/theme/img/course/details/course-details-1.jpg" alt="">
                </div> -->
                <div class="course__tab-2 mb-45 ">

                    <ul  class="nav nav-tabs row">
                      <li  class="col-6">
                        <a  class="nav-link  university__page--navlink">
                          <span class="line" style="height: 50px;"></span>
                        </a>

                      </li>
                      <li  class=" col-6" >
                        <a   class="nav-link  university__page--navlink">
                          <span  class="line" style="height: 50px;"></span>
                        </a>

                      </li>
                    </ul>

                </div>
                <div class="course__tab-content mb-95">
                    <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
                </div>


              </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3">
              <div class="course__sidebar p-relative">
                <div class="course__shape">
                    <img class="course-dot" src="assets/theme/img/course/course-dot.png" alt="">
                </div>
                <div class="course__sidebar-widget-2 white-bg mb-20">
                    <div class="course__logo">
                      <div class="course__logo-thumb university__page--img w-img mb-25">
                          <div class="square" style="height: 200px;"></div>

                      </div>



                    </div>
                </div>

              </div>
          </div>
          </div>
        </div>
      </section>
    </div>

  </section>
  <!-- page title area end -->
