  <!-- footer area start -->
  <footer id="footer">
    <!-- cta area start -->
    <section  class="cta__area mb--120">
      <a routerLink="/contact-us">
        <div class="container">
           <div class="cta__inner white-bg fix">
              <div class="cta__shape">
                 <img src="assets/theme/img/main_images/box.png" alt="">
              </div>
              <div class="row align-items-center justify-content-between">
                <div class=" col-md-4" [ngClass]="currentLanguage === 'ar' ? 'col-lg-4' : 'col-lg-5'">
                  <div class="cta__content ">
                    <h3 class="cta__title cta__content--title-1 text-white">
                      {{'footer_top_title' | translate }}

                    </h3>
                  </div>
                </div>
                <div class="col-lg-7 col-md-8">
                  <div class="cta__content">
                    <h3 class="cta__title">

                      {{'footer_top_text' | translate }}

                    </h3>
                 </div>
                 </div>
              </div>
           </div>
        </div>

      </a>
   </section>
    <!-- cta area end -->
<div class="footer footer__area grey-bg-2">
  <div class="footer__top pt-190 pb-40">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-6">
          <div class="footer__widget mb-50">

            <div class="footer__widget-body footer__widget-body-2">
              <h3 class="footer__widget-title footer__widget-title-2 mb-22">

                {{'footer_bottom_title' | translate }}

              </h3>

              <p>
                {{'footer_bottom_text' | translate }}

              </p>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer__widget mb-50">
            <div class="footer__widget-head mb-22">
              <h3 class="footer__widget-title footer__widget-title-2">

                {{'footer_contact_us_title' | translate }}

              </h3>
            </div>
            <div class="footer__widget-body">
              <div class="footer__link footer__link-2">
                <ul>
                  <li>
                    {{'footer_contact_us_li-1' | translate}}
                    <a target="_blank" href="tel:+2-01000670590">
                    : 2-01000670590+

                  </a></li>
                  <li>
                    {{'footer_contact_us_li-2' | translate}}
                    <a target="_blank" href="mailto:admission@egecmena.com">
                    :admission@egecmena.com11


                  </a></li>
                  <li>
                    {{'footer_contact_us_li-3' | translate}}
                    <a target="_blank" href="https://goo.gl/maps/3iHBEFt2wF4pUShT9">
                    :{{"address" | translate}}

                  </a></li>


                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer__widget mb-50">
            <div class="footer__widget-head mb-22">
              <h3 class="footer__widget-title footer__widget-title-2">

              {{'footer_links_title' | translate}}
              </h3>
            </div>
            <div class="footer__widget-body">
              <div class="footer__link footer__link-2">
                <ul>
                  <li><a routerLink="/home">
                    {{'footer_links_li-1' | translate}}
                  </a></li>
                  <li><a routerLink="/about-us">
                    {{'footer_links_li-2' | translate}}

                  </a></li>
                  <li><a routerLink="/destinations">
                    {{'footer_links_li-3' | translate}}

                  </a></li>
                  <li><a routerLink="/contact-us">
                    {{'footer_links_li-4' | translate}}

                  </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <!-- <form action=""> -->

            <div class="footer__search input-group p-relative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  {{"search_label" | translate}}
                </span>
              </div>

              <input [(ngModel)]="selectedValue"
              [typeahead]="arrayOfAll"
              [typeaheadOptionField]="currentLanguage === 'ar' ?  'ar_name' : 'en_name'"
              (keypress)="preventEnglish($event)"
              (typeaheadOnSelect)="onSelect($event)"
              (typeaheadOnPreview)="onPreview($event)"
              class="form-control">
                            <!-- <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="button-addon2">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </button>
              </div>
            -->
            </div>
          <!-- </form> -->
        </div>
        <div class="col-lg-3">
          <div class="social_links">
            <ul>
              <li><a target="_blank" href="https://www.facebook.com/EGEC.EDU/" class="tran3s round-border icon"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/Egy_Gulf" class="tran3s round-border icon"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/egygulf2015" class="tran3s round-border icon"><i class="fab fa-instagram"></i></a></li>            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom footer__bottom-2">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="footer__copyright footer__copyright-2 text-center">
                <p>{{ currentLanguage === 'ar' ? 'جميع الحقوق محفوظة لدي' :  'All rights reserved by' }}<a target="_blank" href="https://digitalbondmena.com/">
                  <img height="40px" src="assets/theme/img/logo/Digitalbond.png" alt="">
                </a> © 2022

                  </p>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
</footer>
<!-- footer area end -->
