  <!-- page title area start -->
  <section class="loader_sekelton page__title-area page__title-height">
      <div class="row first_section align-items-center">
          <div class="col-xxl-12">
            <div class="container">
              <div class="page__title-wrapper description mt-110">
                <h3 class="page__title line">
                </h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item line"><a routerLink="contact-us"></a></li>
                    <li  class="breadcrumb-item line active" aria-current="page">
                      <a routerLink="/destinations">
                      </a>
                    </li>

                  </ol>
                </nav>
              </div>

            </div>
          </div>
        </div>
        <div class="row second_section">

        </div>

  </section>
  <!-- page title area end -->
