<app-inner-page-loader *ngIf="loading"></app-inner-page-loader>
<!-- page title area start -->
<section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image: url('assets/theme/img/about/Header.jpg');">

    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="page__title-wrapper mt-110">
            <h3 class="page__title">
              {{ currentLanguage === 'ar' ? facultyData?.ar_name : facultyData?.en_name }}
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">{{'breadcrumb_home' | translate}}</a></li>
                <li  class="breadcrumb-item" aria-current="page">
                  <a routerLink="/destinations">
                    {{"destination" | translate }}
                  </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{ currentLanguage === 'ar' ? facultyData?.ar_name : facultyData?.en_name }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->
<!-- page title area start -->
<section class="page__title-area university__page pt-120 pb-90">
  <div class="page__title-shape">
      <img class="page-title-shape-5 d-none d-sm-block" src="assets/theme/img/page-title/page-title-shape-1.png" alt="">
      <img class="page-title-shape-6" src="assets/theme/img/page-title/page-title-shape-6.png" alt="">
      <img class="page-title-shape-7" src="assets/theme/img/page-title/page-title-shape-4.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-9 col-xl-9 col-lg-9">
          <div class="course__wrapper">
            <div class="page__title-content mb-25">

                <h5 class="page__title-3">{{ currentLanguage === 'ar' ? facultyData?.ar_name : facultyData?.en_name}}</h5>
            </div>
            <div class="course__tab-2 mb-45 ">

                <ul ngbNav #nav="ngbNav" class="nav nav-tabs row">
                  <li [ngbNavItem]="0" class="nav-item university__page--navitem col">
                    <a ngbNavLink class="nav-link  university__page--navlink" [title]="currentLanguage === 'ar' ? 'عن '+facultyData?.ar_name : 'About '+facultyData?.en_name">
                      <i class="fa fa-info-circle" [ngClass]="currentLanguage == 'ar' ? 'ml-3' : 'mr-2'"></i>
                      <span>{{currentLanguage === 'ar' ? 'عن الكلية': 'About faculty'}}</span>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="course__description" *ngFor="let facultyData of facultyDatas">
                        <div [innerHtml]="currentLanguage === 'ar' ? facultyData?.ar_title : facultyData?.en_title" class="card__header"></div>
                        <div [innerHtml]="currentLanguage === 'ar' ?facultyData?.ar_text : facultyData?.en_text"></div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="major.id" class="nav-item university__page--navitem col" [title]="currentLanguage === 'ar' ? major.ar_name :  major.en_name" *ngFor="let major of facultyUniversity?.majors">
                    <a ngbNavLink  class="nav-link  university__page--navlink">
                      <i class="fa fa-university" [ngClass]="currentLanguage == 'ar' ? 'ml-3' : 'mr-2'"></i>
                      <span>{{currentLanguage === 'ar' ? major.ar_name :  major.en_name }}</span>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="course__tab-2 p-relative">

                        <ul ngbNav #test="ngbNav" class="nav nav-tabs tabs-2 row justify-content-center">
                          <div class="alert alert-majors " role="alert" *ngIf="alertStatus">
                            <h4 class="text-center">{{ currentLanguage === 'ar' ? 'هل تريد الألتحاق بالكلية' : 'Do you want to go to college?' }}</h4>
                            <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
                              <div class="row justify-content-center">
                                <ng-container *ngIf="userArray !=  null && userPersonalInfo?.full_name != null && userAcademicInfo?.academicInfo.degree_name != null">
                                  <input type="hidden" formControlName="destination" [ngModel]="destinationDetail?.en_name">
                                  <input type="hidden" formControlName="university" [ngModel]="universityData?.en_name">
                                  <input type="hidden" formControlName="faculty" [ngModel]="facultyData?.en_name">
                                  <input type="hidden" formControlName="user_id" [ngModel]="userArray.id">
                                  <!-- <div class="registerDiv button">
                                    <button class="registerButton" >{{ currentLanguage === 'ar' ? 'سجل الأن!' : 'Register Now' }}</button>
                                  </div> -->
                                  <div class="row justify-content-center">
                                    <div class="col-md-2 text-center">

                                      <button class="btn btn-success">
                                        <!-- <img src="https://egecmena.com/frontend/images/register.png" alt=""> -->
                                        {{currentLanguage === 'ar' ? 'نعم' : 'Yes'}}
                                      </button>
                                    </div>
                                    <div class="col-md-2 text-center">
                                      <button type="button" class="btn btn-danger" (click)="closeAlert(major.id)">
                                        {{currentLanguage === 'ar' ? 'لا' : 'No'}}

                                      </button>

                                    </div>
                                  </div>
                                </ng-container>
                                <ng-container *ngIf="userPersonalInfo?.full_name != null && userAcademicInfo?.academicInfo == 'No Academic Info Found' ">

                                  <div class="row justify-content-center">
                                    <div class="col-md-2 text-center">
                                  <a routerLink="/academic-information" class="btn btn-success ">
                                    {{currentLanguage === 'ar' ? 'نعم' : 'Yes'}}
                                  </a>
                                  </div>
                                  <div class="col-md-2 text-center">

                                  <button type="button" class="btn btn-danger">
                                    {{currentLanguage === 'ar' ? 'لا' : 'No'}}

                                  </button>
                                  </div>
                                  </div>
                                </ng-container>
                                <ng-container *ngIf="userPersonalInfo?.full_name == null && userArray != undefined">

                                  <div class="row justify-content-center">
                                    <div class="col-md-2 text-center">
                                  <a routerLink="/personal-information" class="btn btn-success ">
                                    {{currentLanguage === 'ar' ? 'نعم' : 'Yes'}}
                                  </a>
                                  </div>
                                  <div class="col-md-2 text-center">

                                  <button type="button" class="btn btn-danger">
                                    {{currentLanguage === 'ar' ? 'لا' : 'No'}}

                                  </button>
                                  </div>
                                  </div>
                                </ng-container>
                                <ng-container *ngIf="userArray == undefined">
                                  <!-- <div class="registerDiv link">
                                    <a routerLink="/login" class="registerButton" >{{ currentLanguage === 'ar' ? 'سجل الأن!' : 'Register Now' }}</a>
                                  </div> -->
                                  <div class="row justify-content-center">
                                    <div class="col-md-2 text-center">
                                  <a routerLink="/login" class="btn btn-success ">
                                    {{currentLanguage === 'ar' ? 'نعم' : 'Yes'}}
                                  </a>
                                  </div>
                                  <div class="col-md-2 text-center">

                                  <button type="button" class="btn btn-danger">
                                    {{currentLanguage === 'ar' ? 'لا' : 'No'}}

                                  </button>
                                  </div>
                                  </div>
                                </ng-container>
                              </div>

                            </form>
                          </div>
                          <li [ngbNavItem]="1" class="nav-item university__page--navitem col-lg-4">
                            <a ngbNavLink class="nav-link  university__page--navlink"> {{currentLanguage ==='ar' ? 'الأقسام' : 'Departments'}}</a>
                            <ng-template ngbNavContent>
                              <div class="row">
                                <div class="col-lg-6" *ngFor="let department of major.pivot?.departments">
                                  <div class="course__item white-bg mb-30 fix">

                                      <div class="course__right">
                                        <div class="course__content course__content-4">

                                          <h3 class="course__title text-center mb-0">
                                            <a [title]="currentLanguage === 'ar' ? department.ar_name : department.en_name">
                                              {{currentLanguage === 'ar' ? department.ar_name : department.en_name}}
                                            </a>
                                          </h3>

                                        </div>

                                      </div>
                                  </div>
                                </div>

                              </div>

                            </ng-template>
                          </li>
                          <li [ngbNavItem]="2" class="nav-item university__page--navitem col-lg-4">
                            <a ngbNavLink class="nav-link  university__page--navlink">{{currentLanguage ==='ar' ? 'الشروط' : 'Conditions'}}</a>
                            <ng-template ngbNavContent>

                              <div class="course__description" *ngFor="let condition of conditions">
                                <!-- {{condition.major_id === major.id}} -->
                              <ng-container *ngIf="condition.major_id === major.id">
                                <ng-container *ngIf="condition?.ar_title_condition != null || condition?.en_title_condition != null">
                                  <div [innerHtml]="currentLanguage === 'ar' ? condition?.ar_title_condition : condition?.en_title_condition" class="card__header"></div>
                                </ng-container>
                                <ng-container *ngIf="condition?.ar_text_condition != null || condition?.en_text_condition != null">
                                  <div [innerHtml]="currentLanguage === 'ar' ?condition?.ar_text_condition : condition?.en_text_condition"></div>
                                </ng-container>
                              </ng-container>
                              </div>
                            </ng-template>
                          </li>

                        </ul>
                        <div [ngbNavOutlet]="test" class="mt-2">
                      </div>

                      </div>


                    </ng-template>
                  </li>
                </ul>

            </div>
            <div class="course__tab-content mb-95">
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>


          </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3">
          <div class="course__sidebar p-relative">
            <div class="course__shape">
                <img class="course-dot" src="assets/theme/img/course/course-dot.png" alt="">
            </div>
            <div class="course__sidebar-widget-2 white-bg mb-20">
                <div class="course__logo">
                  <div class="course__logo-thumb university__page--img w-img mb-25">
                      <img [src]="facultyImage+facultyUniversity?.logo" alt="">

                  </div>

                  <div class="course__video-content university__page--content pb-35">
                      <ul>

                        <li class="d-flex">
                            <div class="course__video-icon">
                              <i class="fa fa-home university__page--content-icon" aria-hidden="true"></i>
                            </div>
                            <div class="course__video-info">
                              <h5><span>{{currentLanguage === 'ar' ? 'العنوان' : 'Address'}} :</span>
                                <div [innerHtml]="currentLanguage === 'ar' ? facultyUniversity?.ar_address : facultyUniversity?.en_address"></div>
                              </h5>
                            </div>
                        </li>
                        <li class="d-flex" style="
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;">
                            <div class="course__video-icon">
                              <i class="fas fa-browser university__page--content-icon"></i>
                            </div>
                            <div class="course__video-info">
                              <h5><span>{{currentLanguage === 'ar' ? 'الموقع' : 'Website'}} :</span><a target="_blank" [href]="facultyUniversity?.faculty_site">{{ facultyUniversity?.faculty_site }}</a></h5>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="course__video-icon">
                              <i class="fa fa-phone university__page--content-icon" aria-hidden="true"></i>
                            </div>
                            <div class="course__video-info">
                              <h5><span>{{currentLanguage === 'ar' ? 'رقم الهاتف' : 'Phone number'}} :</span><a target="_blank" href="tel:{{facultyUniversity?.faculty_phone}}">{{facultyUniversity?.faculty_phone}}</a></h5>
                            </div>
                        </li>

                      </ul>
                  </div>

                </div>
            </div>
            <div class="course__sidebar-widget-2 white-bg">
              <div class="course__sidebar-course">
                <h3 class="course__sidebar-title">{{"related_faculties" | translate }}</h3>
                <ul>
                  <ng-container *ngIf="otherFacultiesSpecial.length > 1; else facultyEmpty">



                    <li *ngFor="let otherFaculty of otherFacultiesSpecial | slice:0:3">
                        <ng-container *ngFor="let facultyUniversitySpecial of facultyUniversities">
                          <a *ngIf="otherFaculty.id === facultyUniversitySpecial.faculty_id" [routerLink]="['/faculty', otherFaculty.id , facultyUniversitySpecial.university_id ]">
  
                            <div class="course__sm d-flex align-items-center mb-30">
                              <div class="course__sm-thumb" [ngClass]="currentLanguage == 'ar' ? 'ml-20' : 'mr-20'">
                                  <img [src]="facultyImage+facultyUniversitySpecial.logo" alt="">
                              </div>
                              <div class="course__sm-content">
  
                                <h5>{{currentLanguage === 'ar' ?  otherFaculty.ar_name : otherFaculty.en_name}}</h5>
  
                              </div>
                            </div>
                          </a>
                        </ng-container>
                        <!-- {{faculties.id === otherFaculty.id}} -->
                      </li>
                      <li>
                        <a [routerLink]="['/studyByFaculty/', specialId]">
                          {{currentLanguage === 'ar' ?  'تصفح المزيد' : 'Explore more'}}
                          <i class="fa mx-2" [ngClass]="currentLanguage === 'ar' ? 'fa-arrow-left' : 'fa-arrow-right'" aria-hidden="true"></i>
                          </a>
                      </li>
                    </ng-container>



                  <!-- </ng-container> -->

                  <ng-template #facultyEmpty>
                    <li>
                      {{currentLanguage === 'ar' ? 'لا يوحد كليات جديدة' : 'No new faculty'}}
                    </li>
                  </ng-template>

                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- page title area end -->
